@charset "utf-8";
/*	Name: Disable CSS Animation */

* {
  animation: none !important;
  -o-animation: none !important;
  -moz-animation: none !important;
  -webkit-animation: none !important;
  
  transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
}