
#center_col {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

#rhs {
  margin-left: 700px !important;
}

#rhs .rhsvw {
  width: 250px !important;
}

.zVvuGd  {
  white-space: normal !important;
}

.cUnQKe, .kno-ftr, .action-menu, .oHglmf, .jFHKNd, kno-share-button, #gbw, #imagebox_bigimages {
  display: none !important;
}

#hdtb-msb .hdtb-mitem:first-child.hdtb-msel,
#hdtb-msb .hdtb-mitem:first-child.hdtb-imb {
  margin-left: 0px !important;
}

#slim_appbar {
  margin-left: 16px !important;
}

.Tg7LZd {
  border-radius: 0 !important;
}

/*
#gb.gb_dg, #appbar,#rhscol, #top_nav, div#searchform, div.sfbgg, .sfbgx, #fbar {
  min-width: 0 !important;
}
*/

.rg_l {
  display: inline !important;
}

.OIL2le {
  display: none !important;
}

.oDnpvd {
  padding: 2px !important;
}
