#hamburgers, ._3tTiAH8mniTx59RUHGd2Ah, ._3CzLjB_82xAxB3iyad5yLM, .jOvjEd, .feqGCb {
  display: none !important;
}

._1oTUrVtKJk1ue0r3fe31kJ { 
  overflow: visible !important;
}

._1lhJMzq4xwKOTyVyhoiBWA::before, ._1oTUrVtKJk1ue0r3fe31kJ::before, .lnlXLL::before { 
  background: none !important;
}
._1npCwF50X2J7Wt82SZi6J0 {
  overflow: auto !important;
}
